.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
  }
  
  .modal-content {
    background: #fff;
    padding: 30px 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    position: relative;
    margin: auto;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  }
  
  .modal-content h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .modal-content label {
    display: block;
    margin: 10px 0 4px;
    font-weight: 600;
  }
  
  .modal-content input,
  .modal-content select {
    width: 100%;
    padding: 8px 2px 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }
  
  .modal-content .btn {
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
    background-color: rgb(174, 0, 0);
    padding: 10px ;
    color: #fff;
    border: none;
    border-radius: 50px;
  }
  
  .close {
    position: absolute;
    top: 10px; right: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  .search-bar {
    padding: 8px 14px;
    font-size: 14px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 10px 5px;
  }